@{
    ViewBag.Title = "Cloud Development";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/cloud.jpg")" alt="Cloud Development" />
        </div>
        <div class="col-md-7">
            <h1>Cloud Development</h1>
            <p>Deciding to be on the web is a no-brainer.  But where do you host your web application? Are you ready to scale your application to meet demand? Take your web presence to the cloud!  Barney Consulting can help you move to Windows Azure.</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ServicesMenu")
    </div>
    <div class="col-md-9">
		<p>With the Web becoming more and more the place where individuals and companies put their content and applications, it makes sense to ensure that your content and applications will always be available when you need them.  Several major companies have released cloud platforms to meet this demand.</p>
		<p>Windows Azure is one of those platforms, and I think it&#39;s the most compelling of them all.  Pricing is very competitive, and the modularity of their services is well thought out, making it easy to get only what you need.  Add to that excellent developer experience that Microsoft is so good at providing, and you have a cloud platform that is easy to create on, and migrate existing applications to.  Barney Consulting can help you move your applications to the cloud – whether they are cloud-hosted web applications or desktop apps with cloud-based data services.  </p>
		<p>"The Cloud" is more than just a buzz word – it&#39;s what&#39;s going to allow your application to scale to meet growing demand.  Hosting your site in a data center can be expensive, and difficult to scale out.  With Windows Azure, when properly architected, scaling to meet customer demand has never been easier.  Are you prepared for success, and the increased traffic that comes with it?  I&#39;ll help make sure you are.</p>
    </div>
</div>
