@{
    ViewBag.Title = "Barney Consulting Services: Mobile Application Development";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/mobile.jpg")" alt="Cloud Development" />
        </div>
        <div class="col-md-7">
            <h1>Mobile Application Development</h1>
            <p>Mobile device use is at an all-time high, and it&#39;s not slowing down. And what do smartphone users want on their phones? Apps. How do you target all smartphone users without a maintenance nightmare?  Cross-platform development.</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ServicesMenu")
    </div>
    <div class="col-md-9">
		<p>The importance of mobile in the everyday lives of your customers and users extends beyond the browser.  Apps are huge right now.  Every major mobile platform has some sort of mobile marketplace for apps now.</p>
		<p>Studies have estimated that between 56 and 82 BILLION apps will be downloaded in 2013.  That number could reach 200B by 2017.  Revenue from those apps sold in 2013 is estimated to be $20-$25 billion and could be triple that by 2017.  <small>[source: <a href="http://mobithinking.com/mobile-marketing-tools/latest-mobile-stats/e">http://mobithinking.com/mobile-marketing-tools/latest-mobile-stats/e</a>]</small> Can you afford to <b>not</b> have an app?</p>
		<p>Here is the biggest problem with mobile applications today.  There is more than one platform to support.  Every company who has an app has one for the iPhone.  They are likely to have one for Android as well.  While not big now, the Windows Phone is predicted to have about as many devices in use as iPhones by 2017. <small>[source: <a href="http://www.neowin.net/news/2017-forecast-windows-phone-at-127-1bn-android-phones-a-year">http://www.neowin.net/news/2017-forecast-windows-phone-at-127-1bn-android-phones-a-year</a>]</small></p>
		<p>Surely they all are written about the same – like the web – if you write an app for one device, how hard can it be to write it for another?  Unfortunately, it&#39;s not this easy.  With 3 major smartphone device platforms, for most developer shops that means 3 code bases.  Very little code can be shared.  So they might release their iPhone app first, then get to work on writing it in Android.  Once they release that, they could start on their Windows Phone app, or they might have to go back and start maintaining the two existing code bases they already have.  But wait – it gets worse.  Programming for Android devices is dramatically different than developing for iPhones and iPads.  Windows Phone is completely different from those two.  It&#39;s tough to have one team maintain 3 essentially different apps, and it&#39;s expensive to have 3 teams, each maintaining a different app.</p>
		<p>But all is not lost.  There are some emerging technologies that are allowing developers to target multiple platforms with a single code base.  When the application is properly architected, up to 85% or more of the code can be shared between apps.  It&#39;s a great way to get your app out to all the major mobile devices, without the headache of maintaining 3 different code bases.  </p>
		<p>So whether you&#39;re looking to get your first app out to the marketplace, or already have an app that you want to make multi-platform, get in touch with Barney Consulting.  I&#39;m familiar with all the modern techniques and tools required to engineer a maintainable, cross-platform mobile application.</p>
    </div>
</div>
