@{
    ViewBag.Title = "How can I help?";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/more.jpg")" alt="Cloud Development" />
        </div>
        <div class="col-md-7">
            <h1>Everything Else...</h1>
            <p>My depth of experience and understanding of fundamental programming and logic constructs puts me in a position to do just about anything. Don&#39;t see what you&#39;re looking for on this page? Contact me anyway and we can discuss your needs.</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ServicesMenu")
    </div>
    <div class="col-md-9">
        <p>Throughout my career as a software developer, I have done things in countless operating systems, platforms, languages and technologies.  I am passionate about what I do – that passion drives me to keep up to date with as much as possible – and try out whatever I can.  I go deep in to many of those – especially those in the Microsoft stack.</p>
        <p>This breadth and depth of knowledge has taught me to be adaptable to anything new that comes along.  After learning so many things, patterns start emerging and I’m able to break new languages, platforms or frameworks in to their component parts and understand them at a deep level very quickly.</p>
        <p>This means that no matter what deficiency you have on you team, there is a good chance I will be able to step in and help out.  That said, I certainly have my strong points, and I will be honest about my weak ones – including the major pieces I have not dealt with, or do not want to deal with. </p>
        <p>Take a look at my skills profile and contact me if you are interested in learning more about how Barney Consulting can help you.</p>
    </div>
</div>
