@{
    ViewBag.Title = "Barney Consulting Services: Server / Back-End Development";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/server.jpg")" alt="Cloud Development" />
        </div>
        <div class="col-md-7">
            <h1>Server / Back-End Development</h1>
            <p>At the heart of any good, scalable solution are well-architected, solid back-end and middleware services.  Most developers aren&#39;t thrilled about working on this code - it&#39;s not sexy.  But this is the lifeblood of your application. Get it done right.</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ServicesMenu")
    </div>
    <div class="col-md-9">
        <p>At the heart of any good, scalable solution are well-architected, solid back-end and middleware services.  Nothing flashy about these – we’re not worried about user experience or making things look pretty – this is about raw efficiency and performance.  Ultimately, the end users of these services are the developers who develop the clients.  Make the API of your system easy for the developer to understand and code against, and their life gets easier – and your overall time to market and costs go down.</p>
        <p>While it’s hard to get most developers excited about writing back-end server-side code, it is the lifeblood of your application, and it has to be done right.  It has to work, or nothing else will matter.</p>
        <p>Before I ever wrote user-interface clients, I wrote plain, efficient code, and creating these workhorses has always been one of my favorite things about a project.  Contact me about your needs in on the back-end of your project and get things started. </p>
    </div>
</div>

