@{
    ViewBag.Title = "Staff Augmentation";
}
@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/staffaug.jpg")" alt="Cloud Development" />
        </div>
        <div class="col-md-7">
            <h1>Staff Augmentation</h1>
            <p>Finding a developer is harder than ever.  Finding a really <em>good</em> developer is next to impossible.  I am a senior-level developer, architect and Microsoft C# MVP with a history of shipping working code and meeting deadlines.</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ServicesMenu")
    </div>
    <div class="col-md-9">
        <p>Finding a developer is tougher than ever.  Finding a good developer is next to impossible.  With the market as it is, any developer who is not content in their current position has no reason to stay – if they know what they’re doing, they will have dozens of offers to choose from.  Will they accept your offer?</p>
        <p>You can’t get developers for a dime a dozen anymore.  We’re in short supply.  If you look for a bargain, you’ll likely not be able to hire anyone, or you’ll be disappointed in the developer you do find.  Found a developer with “great potential” but not a lot of proven experience?  “He’ll grow in to the role – he’ll catch on quickly…” you say.  Six months in, and $40k later, you realize you’ve hired the wrong developer.</p>
        <p>Don’t hire the wrong developer.  Don’t settle.  It will always cost you more in the long run.  Hire proven experience. Hire someone who has shipped quality code.  Hire Adam Barney of Barney Consulting.  With significant experience being a productive team member, as well as delivering several large applications architected and built by me alone – I am well suited for your project.  Check out my skills and experience to see if I’ll be a good fit.</p>
        <p>I’m located in Lincoln, NE, but I am well equipped to work remotely, and have done so in a very productive manner.  Without the hustle and bustle of a typical day in the office, I’m able to focus on the tasks before me – the tasks that will lead to your high-value project getting done.  And if you’re located in a major US city, I will almost certainly guarantee that my rates will be considerably less than the going rate for a local rockstar developer.</p>
        <p>Contact me today about your staff augmentation needs.  Let’s get things done.</p>
    </div>
</div>
