@{
    ViewBag.Title = "Development for your Startup";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/startups.jpg")" alt="Cloud Development" />
        </div>
        <div class="col-md-7">
            <h1>Development for your Startup</h1>
            <p>We all have that next great idea - the one that wil make us <em>millions</em>. So why do 90% of tech startups fail? To be successful, you need working software and a good marketing strategy (among other things). I&#39;ve got the software handled. Let&#39;s talk.</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ServicesMenu")
    </div>
    <div class="col-md-9">
        <p>You have an idea.  It’s a great idea.  It’s the next best thing, and it’s going to make you wealthy.  Now, how do you get this to market?</p>
        <p>In order for a startup to be successful, people from many different backgrounds with many varied experiences and expertise must come together.  Success doesn’t come down to just getting venture capital.  It’s not all about marketing, like a marketing person would tell you.  A developer will tell you it’s all about getting the product launched and having all the features implemented. Everyone has their role, and if too much emphasis is placed on any particular role at the expense of another, you’re bound to be among the 90% of tech startups that fail.  Yeah – 90%.  Staggering.</p>
        <p>If your core team is developer-centric, you probably don’t need me.  But if you or your fledgling company is struggling to find a way to get your great idea implemented – either in its entirety or simply a MVP (Minimum Viable Product), Barney Consulting can get you there.  I have brought several projects from concept to launch in my 15+ years as a software developer.  Knowledge of the right tools and methodologies help this initial coding phase get done quickly, while keeping the other parties in the loop at every step – this helps minimize going back and re-implementing features at the cost of a delayed launch date.</p>
        <p>So if you need someone to competently and quickly turn your idea in to the next great Internet sensation, look no further than Barney Consulting. </p>
    </div>
</div>
