@{
    ViewBag.Title = "Barney Consulting Services: Training";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/training.jpg")" alt="Cloud Development" />
        </div>
        <div class="col-md-7">
            <h1>Training</h1>
            <p>It&#39;s hard to keep up with the latest technologies. Things change so quickly. How can you or your employees keep up?  Your best developers<em>love</em> learning new things, so why not keep them happy by providing some paid training for them?</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ServicesMenu")
    </div>
    <div class="col-md-9">
        <p>Today’s tech world is changing rapidly, and it doesn’t show any sign of slowing down.  It’s hard to keep yourself up to date on the latest innovations – let alone your development team.  It’s not always crucial to keep up – many times a company’s software products are mature and proven on a well-defined technology.  On the other hand, keeping up with what’s going on in the development word could lead to you finding a better way to keep your product up to date with the changing times.</p>
        <p>Also consider that in today’s market, developers are in very high demand – and short supply.  Chances are, any of your developers could easily find another job that pays more.  It will be nearly impossible to keep up with the Jones’ if salary was the only component to an employee’s happiness.</p>
        <p>Want to keep your developers happy?  Encourage them to keep their skills sharp.  In fact, facilitate that by bringing training on-site.  A developer who is learning something new is a happy developer – it’s just the way we’re wired.  Let a developer do that at his job, and you’ve provided a benefit that might keep him from searching for something better.</p>
        <p>So whether you need to bring yourself or your team up to speed with new and emerging technologies, or want to keep them happy by letting them geek out and learn some cutting edge stuff, let Barney Consulting help.  I offer one-on-one and group training – either on-site or remote.  As a Microsoft Visual C# MVP (Most Valuable Professional) and regular user group, code camp and developer conference speaker, I have the knowledge and training experience needed to keep you and your shop on the cutting edge.  Contact me about availability, and let me know what you want to learn!</p>
    </div>
</div>
