@{
    ViewBag.Title = "Web Application Development";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/web.jpg")" alt="Cloud Development" />
        </div>
        <div class="col-md-7">
            <h1>Web Application Development</h1>
            <p>It&#39;s not enough to just be on the web anymore - you need to stand out from your competition.  This means being mobile-friendly, using responsive web design and reaching your customers where the are on the internet. Barney Consulting can help.</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ServicesMenu")
    </div>
    <div class="col-md-9">
        <blockquote>
            <p>The Internet? We are not interested in it.</p>
            <small><cite>Bill Gates, 1993</cite></small>
        </blockquote>
        <p>Whoops.  It&#39;s tough to tell the future.  I&#39;m no fortune teller myself, but I don&#39;t think you need a crystal ball to see that the internet is here, and it&#39;s not going anywhere anytime soon.  If your business isn&#39;t on the web, then you aren&#39;t likely going too far either.</p>
        <p>It&#39;s more important than ever to have a good web presence.  Not just a web presence – a good web presence.  So what does that mean?  There are many aspects of web presence, from your primary customer-facing web site, to social media and blogging, to SEO (Search Engine Optimization).  Barney Consulting can help you maximize your exposure in all of those areas.</p>
        <p>Why is this important?  There are so many stats I can list.  How about a few to make my point:</p>
        <ul>
            <li>85% of adults use the internet, 66% use social networking sites – Being on the web is essential</li>
            <li>91% of adults on the internet use a search engine to find information – SEO is important so your customers can find you!</li>
            <li>78% use the web to find information about a product of service they are thinking about buying – You have to be able to provide this information in a way that is easy to navigate and loads quickly</li>
            <li>71% of adult internet users buy products on the web – Staggering.  If you&#39;re in the business of selling something, you need to be selling it online.</li>
        </ul>
        <p>[<em>source:<a href="http://www.pewinternet.org/"> http://www.pewinternet.org/</a></em>]</p>

        <h2>Mobile Web Development</h2>
        <p>What about mobile devices?  This is where it gets really interesting…</p>
        <ul>
            <li>53% have a smartphone</li>
            <li>82% of those browse the web with it</li>
            <li>30% shop with mobile phone</li>
            <li>2014 is predict be the year when mobile users will surpass desktop users</li>
        </ul>

        <p>[sources: <a href="http://www.businessinsider.com/mobile-will-eclipse-desktop-by-2014-2012-6">http://www.businessinsider.com/mobile-will-eclipse-desktop-by-2014-2012-6</a>, <a href="http://www.slideshare.net/duckofdoom/mobile-consumerreport2013-17748641">http://www.slideshare.net/duckofdoom/mobile-consumerreport2013-17748641</a>]</p>

        <p>Not only do you need to have a well-designed site, it needs to look good on phones and tablets too.  There are lots of great looking sites out there – but you know the ones that aren&#39;t ready for mobile devices.  If you find yourself pinching and zooming to be able to see anything, you know the frustration.  You&#39;re not alone.  According to a google study,</p>
        <ul>
            <li>75% of mobile users prefer mobile-friendly sites, and 96% of consumers say they&#39;ve encountered sites clearly not designed for mobile</li>
            <li>74% of people say they&#39;re more likely to return to a site in the future if it&#39;s mobile-friendly.</li>
            <li>67% say they&#39;re more likely to buy if it&#39;s mobile-friendly.</li>
            <li>61% of mobile visitors will leave a site if they can&#39;t find what they&#39;re looking for right away (it&#39;s not mobile-friendly)</li>
            <li>79% said they would go back and search for another site</li>
            <li>50% said that even if they like a business, they will use them less often if their site isn&#39;t mobile-friendly</li>
        </ul>

        <p>It goes on.  See <a href="http://googlemobileads.blogspot.com/2012/09/mobile-friendly-sites-turn-visitors.html">http://googlemobileads.blogspot.com/2012/09/mobile-friendly-sites-turn-visitors.html</a> for more, like how 48% of people said if a site didn&#39;t work on their mobile device, they felt like the company didn&#39;t value their business.  Ouch.</p>
        <p>It&#39;s clear – whether you&#39;re just coming to the web, or you have an existing site that isn&#39;t ready for the rising tide of mobile visitors, you need to make your site mobile.  How is this done?</p>

        <div class="pull-left thumbnail" style="margin-right: 15px;">
            <img src="@Url.Content("~/assets/img/web-mobile.jpg")" />
            <div class="caption"><h5>Does your site look good on all these devices?</h5></div>
        </div>
        <h2>Responsive Web Design</h2>
        <p>Don&#39;t leave your customers frustrated by your website.  If you team up with Barney Consulting, you&#39;ll be getting a mobile-first, responsive web design.  What does that mean?  It means the site is designed from the ground up to look amazing on a mobile device.  It will load quickly and emphasize user efficiency.  Some companies will try to sell you on the idea of having a separate mobile site.  Not only is that not a good idea (it leads to two code bases, which makes maintainability difficult and increases costs), it&#39;s also unnecessary.  A responsive design means that the site will render differently based on the size of screen it&#39;s being displayed on.  One site, one code base, good design on any device.  If you&#39;re on this site with your desktop browser, resize the browser window – make it narrow (like a phone) then make it wider again.  You will see the site change to respond to the size it has to display itself in.</p>
        <p>It&#39;s not magic – it&#39;s mobile-first responsive web design.  Let me help you navigate the complexity of establishing a solid online-presence.  It&#39;s one of many services I can offer you from Barney Consulting.</p>
        <h2>Corporate Websites</h2>
        <p>The web isn&#39;t all about marketing and customer-facing web sites.  It isn&#39;t just about watching video, sending email and sharing statuses with connections.  Real work gets done on the internet.</p>
        <p>For a long time businesses invested significant time and money in build rich client applications – desktop applications.  Think Microsoft Word, or Photoshop.  Most businesses have some internal custom software needs.  Uniqueness is what drives success in many endeavors – a one-size fits all application isn&#39;t going to fit your needs perfectly.  So companies turned to internal or external developer teams to write a desktop application that does precisely what the business needs.</p>
        <p>There was (and still is) a huge pain point when it comes to these types of applications: distribution.  Deploying a custom-built desktop application to hundreds of agents or clients, or customers is a nightmare.  Updating them all (especially if they all need to stay in sync) is even worse – and it leads to important changes being deferred in favor of not having to mess with the mass of toothpicks and duct tape that is your Applications enterprise deployment.</p>
        <p>So we started looking for alternatives.  Silverlight had a lot of adopters – it provided the ability to build the same kind of desktop application with the same languages and tools, and have it deployed through the internet – it was just an app that set inside a browser window, and would update whenever you pushed a new version to the server.  But Silverlight is dead now (along with Flash).  What killed them?  A web site revival!</p>
        <p>Early in 2002, Microsoft introduced ASP.NET.  It gave developers the tools they needed to make web applications in much the same way that they made desktop applications.  That platform has continued to evolve, empowering developers to write better and more maintainable (cheaper) applications.  Alongside of it, other platforms and tools have emerged to provide very powerful frameworks on which to build rich, engaging web applications.  Silverlight and flash are going away because there is very little you can do in them that you can&#39;t do in the modern web – and the modern web is leaner, faster and available on more devices.</p>
        <p>Unless there is a very compelling reason not to, you will always want to look at implementing your custom business software as a web application.  Barney Consulting can help you decide what your strategy for custom software should be, and then help you get there on time.  I&#39;ll work with you to pick the right technologies for the right reasons, and write the application your business needs to be efficient and successful.</p>
    </div>
</div>
