@{
    ViewBag.Title = "Barney Consulting Services: Windows Application Development";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/windows.jpg")" alt="Cloud Development" />
        </div>
        <div class="col-md-7">
            <h1>Windows Application Development</h1>
            <p>While in most cases it is advisable to approach new development in a web-centric way, there are always exceptions, especially when dealing with legacy applications. I have significant experience with windows application development.</p>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_ServicesMenu")
    </div>
    <div class="col-md-9">
        <p>While the Web is certainly where things are happening, there are still some very compelling reasons to implement new applications as a Windows desktop application using WPF.  Perhaps you have an existing windows application that needs updated or modernized, or maybe you want to target the new Windows Store for Windows 8.  In any case, I have the knowledge and know how to get your project completed.  Contact me today to see how I can help with your Windows Application Development needs.</p>
    </div>
</div>
