@{
    ViewBag.Title = "About Barney Consulting";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/jumbotron-logo.jpg")" alt="Barney Consulting" />
        </div>
        <div class="col-md-7">
            <h1>About Barney Consulting</h1>
            <p></p>
        </div>
    </div>
}

<div class="row">
<p>Barney Consulting was started in mid-2013 by <a href="http://adambarney.com">Adam Barney</a>.  
More information wil lbe coming soon - stay tuned.  In the meantime, check out @Html.ActionLink("the services I offer", "Index", "services"), or @Html.ActionLink("contact me", "Contact", "Home") to for more information about how I can help you and your business excell at what you do.</p>
</div>