@{
    ViewBag.Title = "Contact Barney Consulting";
}

@section jumbotron
{
    <div class="row">
        <div class="col-md-5">
            <img class="img-thumbnail" src="@Url.Content("~/assets/img/jumbotron-logo.jpg")" alt="Barney Consulting" />
        </div>
        <div class="col-md-7">
            <h1>Contact Me</h1>
            <p>
                Software is a powerful tool.  In the right hands, it can make your business more efficient, attract and retain customers, and more.
            </p>
            <p>Send me an email or give me a call and tell me how I can help <em>you</em> do what you do better.</p>
            <p><a class="btn btn-success btn-lg" href="mailto:adam@barneyconsulting.net">Email me!</a></p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <h2>Barney Consulting</h2>
        <p>7430 Union Hill Circle<br />Lincoln, NE 68516</p>
        <p>
            <a href="tel:&#52;&#48;&#50;&#46;&#55;&#55;&#48;&#46;&#50;&#52;&#49;&#54;" class="reverse">6142.077.204</a>
            <br />
            @*<a href="mailto:&#97;&#100;&#97;&#109;&#64;&#97;&#100;&#97;&#109;&#98;&#97;&#114;&#110;&#101;&#121;&#46;&#99;&#111;&#109;"><span class="reverse">net.gnitlusnocyenrab@mada</span></a>*@
            <a href="mailto:&#097;&#100;&#097;&#109;&#064;&#098;&#097;&#114;&#110;&#101;&#121;&#099;&#111;&#110;&#115;&#117;&#108;&#116;&#105;&#110;&#103;&#046;&#110;&#101;&#116;"><span class="reverse">ten.gnitlusnocyenrab@mada</span></a>
       
        </p>
    </div>
    <div class="col-md-6">
    <h2>Adam Barney</h2>
    <p>To learn more about me, visit my personal site:</p>

    <p><a href="http://adambarney.com">Adam Barney's Blog and Personal Information</a></p>
    </div>
</div>

