body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.body-content {
  margin-top: 0;
  padding-right: 0;
  padding-left: 0;
}
.services-menu {
  display: none;
  position: fixed;
}
.scrolling-content-with-anchors h3 {
  position: relative;
}
.scrolling-content-with-anchors h3 span {
  position: absolute;
  top: -50px;
}
@media screen and (min-width: 992px) {
  .body-content {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .scrolling-content-with-anchors h3 span {
    position: absolute;
    top: -70px;
  }
  .services-menu {
    display: block;
  }
}
