@import "variables.less";
@import "../lib/bootstrap/css/mixins.less";

body {
    padding-top: @navbar-height;
    padding-bottom: 20px;
}

@breathing-room: 20px;

.jumbotron {
    background-position: center;
    background-image: url(../img/jumbotron-bg.jpg);
    color: @gray-lighter;
    -webkit-text-shadow: -4px 4px 5px   rgba(0, 0, 0, 0.5);
    text-shadow: -4px 4px 5px  rgba(0, 0, 0, 0.5);

    a {
        color: @brand-warning;
    }

    a.btn {
        -webkit-text-shadow: none;
        text-shadow: none;
        .box-shadow(-4px 4px 5px rgba(0,0,0,.5));   
        color: @btn-success-color;     
    }

    a.btn:hover {
        .box-shadow(-6px 6px 10px rgba(0,0,0,0.7));  
    }
}



.highlight:hover
{
    background-color: #ffeeeb;
    .box-shadow(-4px 4px 6px rgba(0,0,0,0.2));  
}

.thumbnail{
    margin: 10px auto;
    text-align: center;

    .caption{
        text-align: justify;
        margin: 0px auto;
        max-width: 550px;
    }
}

@media screen and (min-width: @screen-desktop) {
    .body-content {
        margin-top: @breathing-room;
        padding-right: 15px;
        padding-left: 15px;
    }
}

    .jumbotron .row {
        display: block;
        text-align: center;
    }

    .jumbotron .row > div{
        vertical-align: top;
    }

@media screen and (min-width: @screen-md){

    .jumbotron .row{
        display: table;
        text-align: left;
        vertical-align: middle;
    }

    .jumbotron .row > div{
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

    .reverse {
        unicode-bidi: bidi-override;
        direction: rtl;
    }


footer {
    background-color: @navbar-inverse-bg;
    color: @navbar-inverse-color;
    padding: 10px 20px;
    margin-top: 30px;

    p {
        text-align: center;
        margin: 0px auto;
    }



    div {
        .text-left .text-center .text-right {
            text-align: center;
        }
    }
}

@media screen and (min-width: @screen-md){
    .text-left {text-align: left;}
    .text-right {text-align: right;}
}

.navbar-inverse {
  .navbar-nav {
    > li {
      color: @navbar-inverse-link-color;

      &:hover,
      &:focus {
        color: @navbar-inverse-link-hover-color;
        background-color: @navbar-inverse-link-hover-bg;
      }
    }
    > .active {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-active-color;
        background-color: @navbar-inverse-link-active-bg;
      }
    }
    > .disabled {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
        background-color: @navbar-inverse-link-disabled-bg;
      }
    }
  }
}
